{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Taskfocus: Task List</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
	</head>
    <body>
        <main>
        <h1>Taskfocus: Task List</h1>
        <a href="{% url 'tasks-finished' %}">View tasks that are finished</a>
        <ul>
            {% for task in user_tasks %}
                <li>{{ task.info }} (<a href="{% url 'tasks-update' task.id %}">Update</a>) (<a href="{% url 'tasks-website-list' task.id %}">Blocklist/Whitelist</a>)</li>
                <ul class="timer" curr-server-time="{{ current_server_time|date:'U' }}" start-time="{{ task.start_time|date:'U' }}" end-time="{{ task.end_time|date:'U' }}">
                    <li><i>Start: {{ task.start_time|date:"M d, Y; h:i:s A" }}</i></li>
                    <li><i>Due: {{ task.end_time|date:"M d, Y; h:i:s A" }}</i></li>
                    <li><b>Time left: </b> <span class="starting-desc">Starting in: </span> <span class="hour">0h</span> <span class="min">0m</span> <span class="sec">0s</span></li>
                </ul>
            {% endfor %}
        </ul>

        <h2>Create a new task:</h2>
        <form method="POST">
            {% csrf_token %}
            {{ task_form }}
            <button type="submit">Submit</button>
        </form>
        </main>
    </body>
    <script type="text/javascript" src="{% static 'js/timers.js' %}"></script>
</html>